footer(class="main-footer")
	div(class="wrapper")
		p(class="footer-copyright") &copy; Jon Gamble. All Rights Reserved.

script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
script(src="lib/js/scripts.js")
script(src="http://localhost:35729/livereload.js")
