header(class="main-header")
	div(class="wrapper")
		a(href="index.php" class="main-header-home")
			i(class="fa fa-home")
		h1(class="main-header-logo")
			a(href="index.php") kuchBuch
		a(href="#" class="main-header-menu")
			i(class="fa fa-navicon")
		ul(class="main-header-menu-list")
			li
				a(href="profile.php") My Profile
			li
				a(href="recipe.php") Browse Recipes
			li
				a(href="/logout") Log Out