aside(class="recipe-side")
	img(src="lib/img/cookiemonster-profile.png" alt="" class="recipe-profile-picture")
	p(class="recipe-profile-name")
		a(href="profile.php") John Smith
	a(href="" class="recipe-profile-blog") Blog
	div(class="recipe-profile-follows")
		span(class="follower-number") 523 
			span(class="label") Followers
		span(class="following-number") 329 
			span(class="label") Following
	a(href="" class="recipe-follow-profile") Follow
	div(class="recipe-share")
		h4 Share
		div(class="recipe-share-list")
			a(href="" class="facebook")
				i(class="fa fa-facebook-square")
			a(href="" class="twitter")
				i(class="fa fa-twitter-square")
			a(href="" class="gplus")
				i(class="fa fa-google-plus-square")
			a(href="" class="pinterest")
				i(class="fa fa-pinterest-square")