.profile-main {
	clear:both;
	@include bp(eight-column) {
		width:70%;
		float:right;
		clear:none;
	}
	
	@include bp(sixteen-column) {
		width:80%;
		padding-left:10%;
	}
	
	

	.profile-main-top {
		clear:both;
		margin: 0 auto 20px;
		overflow: hidden;
		width:60%;

		.recipe-number {
			color: #4d4d4d;
			display: block;
			float:left;
			font-size: 40px;
			text-align: center;
			text-decoration: none;
			width:50%;

			&:hover {
				color:#2d2d2d;
			}

			.label {
				display: block;
				font-size: 12px;
			}
		}
		.favorite-number {
			@extend .recipe-number;
			border-left:1px solid black;
			float:right;
			
		}
	}

	.profile-search-container {
		padding: 25px 0;
		border-top:1px solid black;
		overflow: hidden;
	}
		.profile-search {
			overflow: hidden;
			display: block;
			width:100%;
		}
			.profile-search-min {
				width:89%;
				float:left;

				@include bp(eight-column) {
					margin-left:2.5%;
					width:87.5%;
					
				}
				

				input {
					border:1px solid black;
					float: left;
					margin:0;
					width:90%;
					padding:10px 15px;
					border-top-left-radius: 5px;
					border-bottom-left-radius:5px
				}
				.profile-search-button {
					background: white;
					border:1px solid black;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					float:right;
					margin:0;
					padding: 10px 0;
					border-left:none;
					width:10%;
				}
			}
			.profile-advanced-search {
				background:white;
				border:1px solid black;
				border-radius:5px;
				color:black;
				display: block;
				float:right;
				padding: 0 0 6px;
				text-align: center;
				margin: 0 0 0 2%; 
				width:8%;


				@include bp(eight-column) {
					margin: 0 2.5% 0; 
					width:5%;
				}
				
				.fa-sort-desc {
					padding-top:6px;
					padding-bottom:4px;
				}
				.fa-sort-asc {
					margin-top:12px;
					margin-bottom:-2px;
					vertical-align: bottom;
				}

			}
			.profile-search-adv {
				display: none;
				clear:both;
				overflow: hidden;
				margin-top:15px;
				float:left;

				fieldset {
					border:none;
					float:left;
					width:31%;
					margin:5px 1%;
					label, input {
						width:100%;
						display: block;
					}
				}

				.search-type {
					
				}
			}

	.profile-results-list {
		list-style: none;
		padding:0;
		margin:20px 0;
		overflow: hidden;
	}
		.profile-result {
			width:95%;
			margin: 10px 2.5%;
			float:left;

			@include bp(eight-column) {
				width:45%;
			}
			@include bp(twelve-column) {
				width:30%;
				margin:10px 1.5%;
			}
			@include bp(sixteen-column) {
				width:23%;
				margin:10px 1%;
			}
			
			
			
		}
			.profile-result-link {
				display: block;
				overflow: hidden;
				position: relative;

				&:hover {
					.profile-result-overlay {
						top:0;
					}
				}
			}
				.profile-result-overlay {
					@include transition(.2s all);
					bottom:0;
					background: rgba(50,50,50,.7);
					left:0;
					position: absolute;
					padding:5px 10px;
					right:0;
					
					top:90%;
					
					
				}
				.profile-result-title {
					color:white;
					margin: 0;
					font-size: 24px;
					@include bp(eight-column) {
						font-size:18px;
					}
					
				}
				.profile-result-rating {
					color:white;
					display: block;
				}
}