.profile-side {
	width:100%;
	margin-bottom:20px;
	overflow: hidden;
	@include bp(eight-column) {	
		width:30%;
		float:left;
	}
	@include bp(sixteen-column) {
		width:20%;
	}

	.profile-picture {
		width:64px;
		float:left;

		@include bp(eight-column) {
			width:150px;
			float:none;
			margin:auto;
			display: block;
		}
		@include bp(twelve-column) {
			width:175px;
		}
	}
	.profile-name {
		float: left;
		font-size: 16px;
		margin:25px 10px 0;
		text-align: center;
		a {
			color:black;
			text-decoration: none;
		}
		@include bp(eight-column) {
			display: block;
			float:none;
			font-size: 24px;
			margin: 10px 0 5px;
		}
	}
	.profile-blog {
		display: none;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		@include bp(eight-column) {
			display: block;
			margin:5px 0;
			text-align: center;
		}	
	}

	.profile-follows {
		float:right;
		width: 150px;
		margin:15px 0 0;
		overflow: hidden;
		@include bp(eight-column) {
			float:none;
			margin:10px auto;
		}
		
		.follower-number {
			width:50%;
			display: block;
			float:left;
			font-size: 22px;
			text-align: center;
			color:black;
			.label {
				font-size: 8px;
				display: block;
				color:black;
			}
		}
		.following-number {
			@extend .follower-number;
			border-left:1px solid black;
			float:right;
		}
	}
	.profile-edit {
		display: block;
		float:left;
		font-size: 12px;
		color:#4d4d4d;
		clear:both;
		margin: 5px 0 0;
		
		@include bp(eight-column) {
			text-align: center;
			float:none;
			margin: 10px 0;
			overflow: hidden;
		}
		
		&:hover {
			color:#2d2d2d;
		}
	}
}