include ./inc/html-head.jade
body(class="profile")
	include ./inc/header.jade
	section(class="main-body")
		div(class="wrapper")
			include ./inc/profile-side.jade
			article(class="profile-main")
				div(class="profile-main-top")
					a(href="my-recipes.php" class="recipe-number") 34 
						span(class="label") My Recipes
					a(href="favorites.php" class="favorite-number") 46 
						span(class="label") Favorites
				div(class="profile-search-container")
					form(action="" class="profile-search")
						div(class="profile-search-min")
							input(type="text" name="search-input" placeholder="Search")
							button(class="profile-search-button")
								i(class="fa fa-search")
						a(href="" class="profile-advanced-search")
							i(class="fa fa-sort-desc")
						div(class="profile-search-adv")
							fieldset(class="search-type")
								label(for="type") Search Type
								input(type="text" name="type")
							fieldset(class="food cuisine-type")
								label(for="cuisine") Cuisine Type
								input(type="text" name="cuisine")
							fieldset(class="food tools-type")
								label(for="tools") Tools
								input(type="text" name="tools")
							fieldset(class="food ingredients-list")
								label(for="ingredients") Ingredients
								input(type="text" name="ingredients")
							fieldset(class="food cook-prep-time")
								label(for="cook-prep") Cook/Prep Time
								input(type="text" name="cook-prep")
							fieldset(class="food ratings-list")
								label(for="ratings") Ratings
								input(type="text" name="ratings")
				ul(class="profile-results-list")
					li(class="profile-result")
						a(href="recipe.php" class="profile-result-link")
							img(src="lib/img/food-filet.jpg" class="profile-result-img")
							div(class="profile-result-overlay")
								h2(class="profile-result-title") Pork Thingamabob
								span(class="profile-result-rating") Rating - 5/5
					li(class="profile-result")
						a(href="recipe.php" class="profile-result-link")
							img(src="lib/img/food-filet.jpg" class="profile-result-img")
							div(class="profile-result-overlay")
								h2(class="profile-result-title") Pork Thingamabob
								span(class="profile-result-rating") Rating - 5/5
					li(class="profile-result")
						a(href="recipe.php" class="profile-result-link")
							img(src="lib/img/food-filet.jpg" class="profile-result-img")
							div(class="profile-result-overlay")
								h2(class="profile-result-title") Pork Thingamabob
								span(class="profile-result-rating") Rating - 5/5
					li(class="profile-result")
						a(href="recipe.php" class="profile-result-link")
							img(src="lib/img/food-filet.jpg" class="profile-result-img")
							div(class="profile-result-overlay")
								h2(class="profile-result-title") Pork Thingamabob
								span(class="profile-result-rating") Rating - 5/5
	include ./inc/footer.jade
