<?php $page = 'profile'; ?>
<?php include('inc/html-head.php'); ?>
<body class="profile">
	<?php include('inc/header.php'); ?>
	<section class="main-body">
		<div class="wrapper">
			<?php include('inc/profile-side.php'); ?>
			<article class="profile-main">
				<div class="profile-main-top">
					<a href="my-recipes.php" class="recipe-number">34 <span class="label">My Recipes</span></a>
					<a href="favorites.php" class="favorite-number">46 <span class="label">Favorites</span></a>
				</div>
				<div class="profile-search-container">
					<form action="" class="profile-search">
						<div class="profile-search-min">
							<input type="text" name="search-input" placeholder="Search">
							<button class="profile-search-button"><i class="fa fa-search"></i></button>
						</div>
						<a href="" class="profile-advanced-search"><i class="fa fa-sort-desc"></i></a>
						<div class="profile-search-adv">
							<fieldset class="search-type">
								<label for="type">Search Type</label>
								<input type="text" name="type">
							</fieldset>
							<fieldset class="food cuisine-type">
								<label for="cuisine">Cuisine Type</label>
								<input type="text" name="cuisine">
							</fieldset>
							<fieldset class="food tools-type">
								<label for="tools">Tools</label>
								<input type="text" name="tools">
							</fieldset>
							<fieldset class="food ingredients-list">
								<label for="ingredients">Ingredients</label>
								<input type="text" name="ingredients">
							</fieldset>
							<fieldset class="food cook-prep-time">
								<label for="cook-prep">Cook/Prep Time</label>
								<input type="text" name="cook-prep">
							</fieldset>
							<fieldset class="food ratings-list">
								<label for="ratings">Ratings</label>
								<input type="text" name="ratings">
							</fieldset>

						</div>
					</form>
				</div>
				<ul class="profile-results-list">
					<li class="profile-result">
						<a href="recipe.php" class="profile-result-link">
							<img src="lib/img/food-filet.jpg" class="profile-result-img">
							<div class="profile-result-overlay">
								<h2 class="profile-result-title">Pork Thingamabob</h2>
								<span class="profile-result-rating">Rating - 5/5</span>
							</div>
						</a>
					</li>
					<li class="profile-result">
						<a href="recipe.php" class="profile-result-link">
							<img src="lib/img/food-filet.jpg" class="profile-result-img">
							<div class="profile-result-overlay">
								<h2 class="profile-result-title">Pork Thingamabob</h2>
								<span class="profile-result-rating">Rating - 5/5</span>
							</div>
						</a>
					</li>
					<li class="profile-result">
						<a href="recipe.php" class="profile-result-link">
							<img src="lib/img/food-filet.jpg" class="profile-result-img">
							<div class="profile-result-overlay">
								<h2 class="profile-result-title">Pork Thingamabob</h2>
								<span class="profile-result-rating">Rating - 5/5</span>
							</div>
						</a>
					</li>
					<li class="profile-result">
						<a href="recipe.php" class="profile-result-link">
							<img src="lib/img/food-filet.jpg" class="profile-result-img">
							<div class="profile-result-overlay">
								<h2 class="profile-result-title">Pork Thingamabob</h2>
								<span class="profile-result-rating">Rating - 5/5</span>
							</div>
						</a>
					</li>
					<li class="profile-result">
						<a href="recipe.php" class="profile-result-link">
							<img src="lib/img/food-filet.jpg" class="profile-result-img">
							<div class="profile-result-overlay">
								<h2 class="profile-result-title">Pork Thingamabob</h2>
								<span class="profile-result-rating">Rating - 5/5</span>
							</div>
						</a>
					</li>
					<li class="profile-result">
						<a href="recipe.php" class="profile-result-link">
							<img src="lib/img/food-filet.jpg" class="profile-result-img">
							<div class="profile-result-overlay">
								<h2 class="profile-result-title">Pork Thingamabob</h2>
								<span class="profile-result-rating">Rating - 5/5</span>
							</div>
						</a>
					</li>
					<li class="profile-result">
						<a href="recipe.php" class="profile-result-link">
							<img src="lib/img/food-filet.jpg" class="profile-result-img">
							<div class="profile-result-overlay">
								<h2 class="profile-result-title">Pork Thingamabob</h2>
								<span class="profile-result-rating">Rating - 5/5</span>
							</div>
						</a>
					</li>
					<li class="profile-result">
						<a href="recipe.php" class="profile-result-link">
							<img src="lib/img/food-filet.jpg" class="profile-result-img">
							<div class="profile-result-overlay">
								<h2 class="profile-result-title">Pork Thingamabob</h2>
								<span class="profile-result-rating">Rating - 5/5</span>
							</div>
						</a>
					</li>
				</ul>
			</article>
		</div>
	</section>
	<?php include('inc/footer.php'); ?>
</body>
</html>